<md-toolbar color="primary">
  {{ 'APP_TITLE' | translate }}
  <span class="example-fill-remaining-space"></span>
  <md-radio-group name="language" [(value)]="userLang" (change)="languageSelected($event.value)">
    <md-radio-button name="language" value="en">English</md-radio-button>
    <md-radio-button name="language" value="it">Italian</md-radio-button>
    <md-radio-button name="language" value="es">Spanish</md-radio-button>
  </md-radio-group>
</md-toolbar>
<nav>
  <button md-raised-button (click)="gotoNav('/dashboard')" [color]="isLinkActive('/dashboard')">Dashboard</button>
  <button md-raised-button (click)="gotoNav('/heroes')" [color]="isLinkActive('/heroes')">Heroes</button>
</nav>
<router-outlet></router-outlet>