<my-hero-detail [hero]="selectedHero"></my-hero-detail>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button md-raised-button color="accent" (click)="gotoDetail()">View Details</button>
</div>
<md-list class="heroes">
  <md-list-item *ngFor="let hero of heroes"
      (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <md-icon md-list-icon>account_circle</md-icon>
    <span md-line>{{hero.name}}</span>
    <span md-line class="secondary">{{hero.id}}</span>
  </md-list-item>
</md-list>